/* CATATAN:
!important digunakan untuk memastikan efek css bekerja, karena ada beberapa efek yang tidak bekerja pada bootstrap */

/* FONT IMPORT */
@import url(../css/Poppins.css); /* Mengambil font family dari file Poppins.css */

/* Variabel yang sering digunakan dalam komponen website */
:root {
    --c-dark: #212529; /* Variabel untuk warna standar hitam */
    --c-brand: #33b5ff; /* Variabel untuk warna standar hero color brand */
    --c-brand-rgb: 51, 181, 255; /* Variabel untuk warna standar hero color brand dalam rgb*/
    --c-white-rgb: 255, 255, 255;
    --c-dark-rgb: 33, 37, 41;
    --c-body: #727272; /* Variabel untuk warna standar body (abu-abu) */
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08); /* Variabel standar untuk memberikan box-shadow */
    --transition: all 0.5s ease; /* Variabel standar untuk transisi dalam item */
    --font-base: "Poppins-Variable", sans-serif; /* Variabel standar untuk font-family yang digunakan */
}

/* CSS Default for common component */

/* CSS reset dan pengaturan font family */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-base);
}

/* Mengatur line-height di seluruh body dan warna dasar tulisan untuk semua elemen di body*/
body{
    line-height: 1.7 !important;
    color: var(--c-body) !important;
}

/* Mengatur seluruh elemen heading agar font-nya menjadi bold dan warna dasarnya sesuai variabel warna dark */
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    font-weight: 600 !important;
    color: var(--c-dark);
}

/* Mengatur default style untuk tag a baik ketika di hover maupun tidak */
a{
    text-decoration: none !important;
}

a:hover{
    color: var(--c-brand) !important;
    transition: var(--transition);   
}

/* Membuat gambar agar memiliki lebar yang selalu menyesuaikan dengan lebar containernya */
/* Dimana jika gambar lebih besar dari container, maka gambar akan diperkecil menyesuaikan lebar containernya */
.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Memberikan jarak antar section */
.section-padding{
    padding-top: 120px;
}

/* Memberikan efek warna yang berbeda pada item yang diapit tag span */
span {
    color: var(--c-brand);
}

/* IMAGE ZOOM digunakan untuk membuat efek memberpesar gambar 110% ketika gambar di hover 
   Area gambar yang keluar dari container image-zoom akan disembunyikan (hidden)*/
.image-zoom{
    position: relative;
    overflow: hidden; /* Menyembunyikan bagian gambar yang keluar dari batas elemen */
}

.image-zoom-wrapper{
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img{
    transform: scale(1.1); /* Membuat gambar diperbesar hingga 110% dari ukuran aslinya (efek zoom) */
}

/* Membuat style standar untuk button brand yang akan digunakan pada halaman website */
.btn{
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 6px !important;
    padding: 10px 24px;
}

.btn-brand{
    background-color: var(--c-dark) !important;
    border-color: var(--c-dark);
    color: #ffffff !important;
}

.btn-brand:hover{
    background-color: var(--c-brand) !important;
    border-color: var(--c-brand);
    color: white !important;
}


/* NAVBAR */
/* Memberikan efek box shadow di bagian bawah navbar */
.navbar{
    box-shadow: var(--box-shadow);
}

/* Mengatur tampilan tulisan dan warna untuk item nav-link */
.navbar-nav .nav-link{
    font-weight: 500;
    color: var(--c-dark);
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}

/* Mengatur tampilan untuk nav-link dengan status active dan ketika di hover*/
.navbar-nav .nav-link.active{
    color: var(--c-brand) !important;
}

.navbar-nav .nav-link:hover{
    background-color: var(--c-brand);
    color: white !important;
    border-radius: 5px;
}

/* Menambahkan icon hamburger menu karena terdapat masalah dimana icon tidak tampil pada standar bootstarp */
.navbar-toggler-icon {
    background-image: url("https://cdn-icons-png.flaticon.com/512/1828/1828859.png"); /* Menambahkan URL ikon hamburger manual */
    width: 30px;
    height: 30px;
    background-size: cover;
}

/* Mengatur ukuran logo pada navbar */
.logo {
    width: 60px;
}

/* Mengatur tampilan button login dan register, dimana button login akan berwarna putih dan memiliki border
   Sedangkan button register akan berwarna biru dan tanpa border*/
.btn {
    padding: 10px;
    margin: 5px;
    background-color: none;
    border: none;
}
  
.btn-login {
    background-color: white;
    border: 1px solid var(--c-body) !important;
}
  
.btn-login > a {
    text-transform: uppercase;
    color: var(--c-brand);
    font-size: 14px;
}

.btn-login > a:hover {
    color: var(--c-brand);
}
  
.btn-register {
    background-color: var(--c-brand) !important;
}
  
.btn-register > a {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
}

.btn-register > a:hover {
    color: white !important;
}

/* HERO or JUMBOTRON */
/* Memberikan background image pada jumbotron */
#hero{
    background: linear-gradient(rgba(var(--c-dark-rgb),.5), rgba(var(--c-dark-rgb),.4)), url(../img/about.jpeg);
    /* Mengatur latar belakang dengan gradien linier transparan di atas gambar dimana Warna awal gradien dengan transparansi 50%
    dan Warna akhir gradien dengan transparansi 40% */
    background-position: center; /* Memposisikan latar belakang di tengah elemen secara horizontal dan vertikal */
    background-size: cover; /* Mengatur ukuran latar belakang agar menutupi seluruh area elemen tanpa mengubah rasio aspek */
}

#hero h5{
    font-weight: 400 !important;
}

/* SECTION TITLE for SECTION ABOUT US */
/* Memberikan margin untuk elemen section-tittle */
.section-title{
    margin-bottom: 60px;
}

/* Memberikan style untuk membuat garis di bawah section tittle */
.section-title .line{
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px; /* Margin atas 15px, kiri kanan auto (posisi pasti di tengah layar), bawah 24px */
}

.section-title p{
    max-width: 500px; /* Membatasi lebar maksimum paragraf menjadi 500 piksel */
    margin: auto;
}

/* SECTION WHY CHOOSE US */
#why .container {
    background-color: #f5f8fa;
    border-radius: 3%;
    padding: 20px; /* Menambahkan padding agar konten tidak terlalu mepet dengan batas kontainer */
}

/* Kontainer Gambar */
.image-container {
    position: relative; /* Mengatur posisi kontainer secara relatif, digunakan untuk penempatan elemen-elemen child dengan posisi absolute */
    width: 100%;
    height: auto;
}

.image-container img {
    max-width: 600px;
    max-height: 400px;
    width: 100%; /* Mengatur agar gambar selalu responsif dan menyesuaikan lebar kontainer */
    height: auto; /* Menjaga rasio aspek gambar */
}

/* Kontainer Teks */
.text-box {
    position: absolute; /* Teks akan diposisikan secara absolute di dalam kontainer gambar sehingga posisi elemen dapat di atur */
    top: 50%; /* Posisi vertikal teks berada di tengah (50% dari atas) */
    left: 55%; /* Posisi horizontal teks berada di 55% dari sisi kiri, sehingga text-box berada di sisi kanan gambar */
    transform: translate(-20%, -50%); /* Memastikan teks berpusat pada posisi yang tepat */
    background-color: rgba(255, 255, 255, 0.9); /* Memberikan warna background dengan sedikit transparansi */
    border-radius: 10px;
    width: 50%; /* Mengatur lebar teks agar menempati setengah dari kontainer */
    padding: 20px; /* Menambahkan padding agar teks tidak terlalu dekat dengan batas kotak */
}

.text-box p {
    font-size: 14px;
}

#right{
    display: flex; /* Menambahkan flexbox untuk memudahkan pengaturan posisi gambar */
    justify-content: flex-end; /* Mengatur elemen flex agar ditempatkan di ujung kanan kontainer */
}

#left {
    left: 15%; /* Posisi horizontal teks berada di 15% dari sisi kiri, sehingga text-box berada di sisi kiri gambar */
}

/* Media Query untuk Layar Kecil */
@media (max-width: 768px) {
    .image-container {
        justify-content: center; /* Tetap memposisikan gambar di tengah kontainer pada layar kecil */
    }

    .image-container img {
        max-width: 100%;  /* Gambar akan mengambil lebar penuh dari kontainer pada layar kecil */
        height: auto; /* Menjaga rasio aspek gambar */
    }

    .text-box {
        position: static; /* Menghapus positioning absolute pada layar kecil */
        transform: none; /* Menghilangkan transformasi posisi text-box */
        width: 100%; /* Mengatur lebar teks menjadi 100% dari kontainer pada layar kecil */
        margin-top: 15px; /* Menambahkan jarak di antara gambar dan teks */
        /* Efeknya adalah di layar kecil posisi text-box akan berada di bawah gambar */
    }

    .text-box h4, .text-box p {
        text-align: center;  /* Teks dipusatkan untuk meningkatkan keterbacaan pada layar kecil */
    }
}

/* SECTION Mentor */
/* Mengubah sedikit tampilan standar dari component card bootstarp */
.card{
    border: none !important;
    background-color: #F0F0F0 !important;
    flex: 1 1 300px; /* Menetapkan dasar flex untuk card */
    display: flex; /* Menjadikan card fleksibel */
    flex-direction: column; /* Menyusun isi card secara vertikal */
    justify-content: space-between; /* Memastikan semua konten terdistribusi dengan baik */
    height: 100%; /* Memastikan card mengambil tinggi penuh dari container */
}

.card-body {
    flex: 1; /* Pastikan card body mengambil ruang yang tersisa */
    display: flex; /* Gunakan flex untuk card body */
    flex-direction: column; /* Atur konten dalam arah vertikal */
    justify-content: space-between; /* Sebar konten agar elemen bawah tetap berada di bawah */
}
  

/* Memberikan style pada icon star pada bagian rating */
.rating i {
    color: #fbc02d; /* Warna bintang */
    font-size: 1.2rem; /* Ukuran font 1.2 kali ukuran font root atau parent*/
    margin-right: 0.2rem;
}

.rating span {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.price span {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

/* SECTION Courses */
/* Memberikan style yang sesuai pada bagian card-promo */
.card-promo{
    background-color: var(--c-brand) !important;
    color: white !important;
}

.card-promo .card-title{
    color: white;
    font-weight: 800;
    font-size: 24px;
}

/* SECTION Testimoni */
/* Memberikan style untuk bagian box/container yang membungkus testimoni */
.testimonial-box {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Mengatur style untuk masing-masing tulisan yang ada dalam testimonial-box */
.testimonial-text {
    font-size: 18px;
    font-style: italic; /* Membuat font bercetak miring */
    margin-bottom: 20px;
}

.testimonial-author {
    text-align: right; /* Memposisikan tulisan agar berada di sisi kanan */
}

.testimonial-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.testimonial-position {
    font-size: 16px;
    color: #666;
}

/* FOOTER */
footer{
    padding-top: 70px;
}

.footer-top{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, .1); /* Membuat border hanya pada bagian bawah saja untuk menghasilkan efek garis pemisah antara footer top dan bottom  */
}

.footer-bottom{
    padding-top: 40px;
    padding-bottom: 40px;
}

footer li,
footer p,
footer a{
    color: rgba(255, 255, 255, .7);
}

footer ul{
    list-style: none; /* Menghilangkan style bawaan dari elemen ul  */
    padding: 0;
}

/* Membuat style untuk garis pada elemen footer */
footer .line{
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
    margin: 12px auto 24px;
}

/* PAGE FAQ */
.faq-item {
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f5f8fa;
    transition: background-color 0.5s ease;
} 
  
.faq-question {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    cursor: pointer; /* Menampilkan kursor pointer (seperti link) saat mouse berada di atas pertanyaan */
    color: var(--c-dark);
}
  
.faq-question:hover {
    color: var(--c-brand);
}
  
.faq-answer {
    font-size: 16px;
    color: var(--c-dark);
    margin-top: 10px;
    text-align: justify;
}
  
.faq-separator{
    border: 1px solid var(--c-dark);
}
  
/* FORM is invalid */
.is-invalid {
    border-color: #dc3545;
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}